.css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
  width: 250px !important; 
  margin: 10px 0 !important;
}
.MuiPickersCalendarHeader-label {
  font-size: 1rem !important;
  display: block !important;
}