p {
  padding: 0;
}
h3 {
  margin: 0;
}
.location-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.location-btn {
  @apply flex items-center justify-center text-white transition-all duration-300 bg-green-500 border-2 border-green-500 rounded-full;
}
.location-btn:hover {
  @apply text-green-500 bg-white;
}
.location-btn svg {
  @apply w-5 h-5;
}
.div-selected {
  display: flex;
}
.selected-address {
  color: #00a32c;
}
.location-modal {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  min-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.location-autocomplete {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  height: 40px;
}

.location-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-confirm-btn {
  @apply text-white bg-green-500 rounded-full h-[40px] px-4 transition-all duration-300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.location-confirm-btn:hover {
  @apply text-green-500 bg-white border-2 border-green-500;
}

.location-close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.location-close-btn:hover {
  color: red;
  transform: scale(1.2);
}
