p {
  padding: 0;
}
h3 {
  margin: 0;
}
.location-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.location-btn {
  background-color: #a9ddb7;
}
.location-btn:hover {
  background-color: #00a32c;
}
.div-selected {
  display: flex;
}
.selected-address {
  color: #00a32c;
}
.location-modal {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  min-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.location-autocomplete {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
}

.location-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-confirm-btn {
  padding: 0;
  background: #a9ddb7;
  color: white;
  border: none;
  border-radius: 4px;
  width: 150px;
}

.location-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
