    .mainContents {
        @apply flex items-center justify-center min-h-screen w-[100vw];
    }

    .contentWrapper {
        @apply p-3 w-full max-w-4xl bg-white rounded-3xl shadow-xl;
    }

    .searchInput {
        @apply p-5 border border-green-300 rounded-full w-[400px] h-[40px] focus:outline-none focus:border-green-500 focus:ring-1 focus:ring-green-500 focus:ring-opacity-50 transition-all duration-200 ease-in-out;
    }

    .searchBtn {
        @apply flex justify-center items-center px-6 py-2 font-medium text-green-500 bg-white rounded-full border-2 border-green-500 transition-all duration-200 hover:shadow-md hover:bg-green-500 hover:text-white whitespace-nowrap;
    }

    .categoryBtn {
        @apply w-[130px] flex items-center justify-center p-4 text-green-500 bg-white border-2 border-green-500 border-dashed rounded-lg gap-x-2 hover:transform transition-all duration-300 hover:-translate-y-1 hover:shadow-md;
    }
    
 
    @media (max-width: 600px) {
        .mainContents {
            @apply relative min-h-[100dvh] flex items-center justify-center;
            margin-top: 104px;
        }

        .searchInput {
            @apply w-full;

        }

    }
