/* Modal.css */
.modal-backdrop {
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center invisible z-[11];
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
}

.modal-backdrop.open {
  @apply visible;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 200ms ease-out;
}

/* 모달창 기본 공통 css */
.modal-content {
  @apply flex flex-col justify-center items-center gap-4 bg-white p-4 rounded-lg min-w-[20em] min-h-[8em];
  transform: translateY(20px);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.modal-backdrop.open .modal-content {
  transform: translateY(0);
  opacity: 1;
}

.modal-content h2 {
  @apply m-0 text-lg;
}

.modal-content p {
  @apply text-sm;
}

.modal-actions {
  @apply flex items-center justify-center gap-4;
}

.modal-actions button {
  @apply bg-[#a9ddb7] text-white w-20 h-8;
}

.modal-actions button[type="submit"] {
  @apply bg-[#4caf50] text-white;
}

.modal-actions button:hover {
  @apply bg-[#4caf50];
}
