.myPage_form {
  text-align: center;
  width: 40em;
  height: 25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 2px #999, 0px 0px 10px #999;
}

.myPage_form form {
  width: 100%;
}

.myPage_form .form_input {
  margin: 1em 0;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px;  /* 오른쪽 여백을 추가하여 버튼 공간 확보 */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.myPage_Set_Password_Btn {
  position: absolute;
  right: 10px; /* 버튼을 오른쪽에 위치시킴 */
  top: 50%; /* 버튼을 세로 중앙에 위치시킴 */
  transform: translateY(-50%); /* 정확히 중앙에 맞추기 */
  padding: 5px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.myPageSetPasswordBtn:hover {
  background-color: #45a049;
}

/* 이메일입력칸과 찾기버튼 컨테이너 */
.myPageEmailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.myPageEmailInput {
  position: relative; /* 버튼의 위치를 입력 필드 내부로 조정 */
  width: 100%; /* 입력 필드가 버튼과 함께 맞춰질 수 있도록 */
}

.myPageSendBtn{
    position: absolute;
    top: 60%;
    right: 5px; /* 입력 필드 오른쪽에 버튼 위치 */
    transform: translateY(-75%); /* 버튼을 수직 중앙 정렬 */
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profilePhoto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileChangeBtn{
  margin-bottom: 5px;
}

.dpLabel{
  display: flex;
}
