/* 게시물 등록 전체컨테이너 */
.postRegist{
  box-shadow: 0 0px 2px #999, 0px 0px 10px #999;
  padding:2.5em;
}
.postRegist form{
  display: flex;
  flex-direction: column;
}
.postRegist .formDiv{
  margin-bottom: 2em;
}

/* 제목, 가격 인풋 */
.postRegist .formDiv input{
  border-radius: 5px;
  width:100%;
  height:3em;
  margin-bottom: 1.5em;
  padding: 10px;
}

/* 제목, 가격 */
.postRegist .formDiv label{
  border-radius: 5px;
  margin-bottom: 0.5em;
  width:100%;
}

/* 사진컨테이너 */
.registPhoto{
  width: 8em;
  height:8em;
  background-color: #fff;
  border:1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 0 1.5em 0;
}
/* 사진사이즈 */
.registPhoto img {
  width:100%;
}

.formDiv{
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.registnavigate{
  display: flex;
  justify-content: space-between;
}

.registerror{
  color: red;
}

/* 미리보기 이미지들을 가로로 배치하는 스타일 */
.imagePreviewContainer {
  display: flex;  
  flex-direction: row;  
  flex-wrap: wrap; 
}