/* 전체 페이지 컨테이너 */
.page-container {
    display: flex; 
    gap: 16px; 
    margin: 16px;
  }
  
  /* 필터 섹션 */
  .filter-section {
    width: 20%;
    background-color: #f9f9f9; 
    padding: 16px; 
    border-radius: 8px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  /* 필터 옵션 */
  .filter-options label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
  }
  

/* 렌탈 컨테이너 스타일 */
.rental-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 16px;
}

/* 이미지 컨테이너 스타일 */
.rental-item {
    position: relative; 
    overflow: hidden; 
    border-radius: 8px; 
    width: 100%; 
    height: 250px; 
  }
  
  /* 이미지 스타일 */
  .rental-image {
    width: 100%;
    height: 70%;
    object-fit: cover; 
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  
  /* 이미지 확대 효과 */
  .rental-item:hover .rental-image {
    transform: scale(1.1);
  }
  
/* 링크 스타일 초기화 */
.rental-item-link {
    text-decoration: none;
}

/* 제목 스타일 */
.rental-title {
    font-size: 1rem;
    margin: 8px 0;
    text-decoration: none;
    color: black;
}

/* 가격 스타일 */
.rental-price {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

/* 판매 완료 배지 */
.sold-badge {
    position: absolute; /* 부모 컨테이너 기준으로 위치 설정 */
    top: 5px;
    left: 4px;
    background-color: rgba(255, 0, 0, 0.8); 
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  /* rental-item의 위치 지정 */
  .rental-item {
    position: relative;
  }
  
  /* 화면 우측 하단에 고정된 버튼 스타일 */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a9ddb7;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.fixed-button:hover {
  background-color: #00a32c;
}
