/* 폰트 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "S-CoreDream-3Light";
  font-weight: bold;
}

button {
  @apply cursor-pointer bg-[#a9ddb7] border-none text-white text-sm w-24 h-8 rounded-lg active:text-white transition-all duration-200 ease-in-out;
}
button:focus,
button:active,
a:focus,
a:active {
  @apply text-white no-underline outline-none;
}
/* .logo{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
} */

/* 헤더영역 */
.header {
  @apply fixed top-0 right-0 left-0 z-10 bg-[#a9ddb7] transition-opacity duration-300;
}

.header_container {
  @apply w-full max-w-[71.25rem] mx-auto px-6 py-5 flex justify-between items-center h-[4.5rem];
}

.header_left {
  @apply flex-1;
}

.logo_btn {
  @apply w-auto p-0 text-2xl font-bold text-white transition-all duration-200 ease-in-out bg-transparent active:text-white;
}

.header_center {
  @apply flex-[2] flex justify-center gap-8;
}

.nav_btn {
  @apply w-auto text-base text-white transition-all duration-200 ease-in-out bg-transparent active:text-white;
}

.header_right {
  @apply flex justify-end flex-1;
}

.auth_btn {
  @apply w-auto px-4 py-2 text-sm text-white transition-all duration-200 ease-in-out bg-transparent active:text-white;
}

/* 컨텐츠 부모 태그 */
.container {
  position: relative;
  left: 0;
  top: 5em;
  display: flex;
  width: 100%;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45em;
}
/* loading중 스타일 */
.loadingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  border: 4px solid rgba(172, 172, 172, 0.1);
  border-left-color: #60ff7d;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 1em 0;
  animation: spin 1s linear infinite;
}
/* 스피너 애니메이션 */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
